---
import DocFooter from "../components/DocFooter/DocFooter.astro";
import DocHeader from "../components/DocHeader/DocHeader.astro";
import Navbar from "../components/Navbar/Navbar.astro";

const pageTitle = "About ME"

const identity = {
  firstName: "Adam",
  country: "Scotland",
  occupation: "frontend dev",
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro", "Writing Docs"];

---

<html lang="en">
	<head>
		<DocHeader />
		<title>{pageTitle}</title>
	</head>
	<body>
        <h1>About Me</h1>
        <Navbar/>
          <ul>
            <li>My name is {identity.firstName}.</li>
            <li>I live in {identity.country} and I work as a {identity.occupation}.</li>
          </ul>
            <p>My skills are:</p>
          <ul>
            {skills.map((skill) => <li>{skill}</li>)}
          </ul>
      <DocFooter/>
	</body>
</html>
